.book-cover-container{
    max-height: 400px;
    overflow: hidden;
    display: flex;
}
.card-title{
    font-size: 1.1rem;
    color: #57606f;
}
.price-container{
    position: absolute;
    top: -15px;
    right: -15px;
}
.badge-price{
    background-color: #ff793f;
    color: white;
}