@import '~bootstrap/dist/css/bootstrap.min.css';

.nav-toggle-container{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 35px;
    min-height: 35px;
    cursor: pointer;
    font-size: 1.35rem;
    z-index: 9999;
    color: #FFC312;
}