.sidebar {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #6F1E51;
}

.navigation-item{
	margin: 0 auto;
    padding: .75rem;
}

.navigation-link{
	text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
}

.navigation-link:hover, .navigation-link.active{
    color: #FFC312;
    text-decoration: none;
}