.notification-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
    height: 85px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    z-index: 9999;
}
.success{
    background-color: #4CAF50;
    border-top: 5px solid #55a058;
}
.error{
    background-color: #F44336;
    border-top: 5px solid #FF5722;
}