.update-book-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 65px;
    width: 100%;
    text-align: center;
    background-color: #6F1E51;
    color: #fff;
    padding-top: 15px;
    text-transform: uppercase;
}
h3{
    font-size: 1.1rem;
}

span, i{
    color: #ffc107;
}